@page
@model Webapp1.Pages.detailsModel

<div class="book-details">
    <h1>โปรดคลั่งรักอย่างมีสติ</h1>
    <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <h5>ผู้แต่ง:yupyup</h5>
    <p>
        <strong>สรุป:</strong> เซียส X จ๋า
        เพราะเพื่อนสนิทหนีไปมีแฟน ผมเลยอยากมีบ้าง
        หัวใจที่อ้างว้างและห่อเหี่ยวมานานถูกทำให้กระชุ่มกระชวยด้วยผู้ชายที่ชื่อว่า 'เซียส'
        เขาคือคนดูแลพ่วงด้วยตำแหน่งหลานชายเจ้าของหอพักที่ผมเพิ่งย้ายเข้าไปอยู่
        ดูก็รู้ว่าพรหมลิขิต
        ใช่...มันต้องเป็นพรหมลิขิตแน่ ๆ
        แต่หลังจากนี้พรหมไม่ต้องลิขิตแล้ว
        จารวีคนนี้จะลิขิตเอง
        "พี่ค้าบ ไฟห้องเค้าเสียอีกแล้ว"
        "ครับ ... เดี๋ยวพี่ไปดูให้นะตัวเล็ก"
        วินาทีที่พี่เขาเรียกผมว่า 'ตัวเล็ก' ผมไม่ใช่คนอีกต่อไป
        ผมเป็นหมา
    </p>
    <p><strong>ประเภท:</strong> นิยายวาย Boy Love / Yaoi</p>
    <p><strong>ราคา:</strong> 300 บาท </p>
    <p><strong>วันที่ตีพิมพ์:</strong> 17 พฤศจิกายน 2566</p>

</div>
