@page
@model Webapp1.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>
<div class="w3-container">
    <div class="w3-card-4" style="width:70%">
        <header class="w3-container w3-light-grey">
            <h3>My Dream</h3>
        </header>
        <div class="w3-container">
            <p>นวพร บุญก่อน</p>
            <p>Nawaporn boongon</p>
            <hr>
            <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <p>school NPRU class64/45 Department of Software Engineering.</p><br>
        </div>
        <button class="w3-button w3-block w3-dark-grey">แก้ไข</button>
    </div>
</div>

